aiofiles==23.2.1
aiohttp==3.9.1
apscheduler==3.10.4
asyncio
bing-image-downloader==1.1.2
bs4==0.0.1
beautifulsoup4==4.12.2
deepai==0.11.14
edge-tts==6.1.9
ffmpeg-python==0.2.0
future==0.18.3
gitpython==3.1.40
google-api-python-client==2.108.0
gpytranslate==2.0.1
gtts==2.5.1
heroku3==5.2.0
httpx[http2]==0.27.2
kurigram==2.2.12
lexica-api==1.1.2
motor==3.3.2
nekosbest==2.3.4
numpy==1.26.0
opencv-python==4.8.1.78
pillow==11.3.0
psutil==5.9.6
ntgcalls==2.0.6
py-tgcalls==2.2.8
pycryptodome==3.19.0
pydub==0.25.1
pyfiglet==1.0.2
pyshorteners==1.0.1
python-dotenv==1.0.0
python-whois==0.8.0
pyyaml==6.0.1
qrcode==7.4.2
requests==2.31.0
speedtest-cli==2.1.3
SpeechRecognition==3.10.1
spotipy==2.23.0
telegraph==1.6.2
tgcrypto==1.2.5
unidecode==1.3.8
wget==3.2
yt-dlp==2025.9.26
youtube-search-python==1.6.6
pytube==15.0.0
pyrogram==2.0.106
tgcalls==3.0.0.dev35
pymongo==4.5.0
psycopg2-binary==2.9.9
